<div class="cli-modalclose">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-form mt-3">
  <div class="cli-form-title c-male" style="margin-bottom: 20px">{{ DATA_CERTIF ? "Actualizar" : "Crear" }} certificación</div>

  <form class="row g-3" [formGroup]="certificacionForm">
    <div class="cli-form newvac-wrapper">
      <div class="row g-3">

        <div class="cli-form-element col-f-3">
          <label>Proyecto <small style="color: red">*</small></label>
          <select formControlName="idProyecto" class="cli-input">
            <option [value]="0" disabled>-Seleccione-</option>
            <option [value]="proy.idProyecto" *ngFor="let proy of listProyectos">{{proy.codigo_proyecto}}</option>
          </select>
          <small class="form-text text-alert" *ngIf="campoNoValido('idProyecto')">* Seleccione el proyecto es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3">
          <label>Orden de compra <small style="color: red">*</small></label>
          <select formControlName="idOrden" class="cli-input">
            <option [value]="0" disabled>-Seleccione-</option>
            <option [value]="oc.idOrden" *ngFor="let oc of listOrdenCompra">{{oc.nro_orden}}</option>
          </select>
          <small class="form-text text-alert" *ngIf="campoNoValido('idOrden')">* Seleccione la Orden de compra es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3">
          <label>Certificación <small style="color: red">*</small></label>
          <input
            class="cli-input"
            formControlName="certificacion"
            type="text"/>
            <small class="form-text text-alert" *ngIf="campoNoValido('certificacion')">* Ingrese el Certificación es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3">
          <label>Monto <small style="color: red">*</small></label>
          <input
            class="cli-input"
            formControlName="monto_total"
            type="text"/>
            <small class="form-text text-alert" *ngIf="campoNoValido('monto_total')">* Ingrese el Monto es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3">
          <label>moneda</label>
          <input
            class="cli-input"
            formControlName="moneda"
            type="text"/>
        </div>

        <ng-container *ngIf="DATA_CERTIF">
          <div class="cli-form-element col-f-4">
            <label>Estado</label>
            <select formControlName="estado" class="cli-input">
              <option [value]="0" disabled>-Seleccione-</option>
              <option [value]="estado.idEstado" *ngFor="let estado of listEstadoDetActa">{{estado.estado}}</option>
            </select>
          </div>

          <div class="cli-form-element form-group col-f-3">
              <label>Fecha creación</label>
               <input
                style="padding: 0.05rem .75rem;"
                type="date"
                class="form-control"
                formControlName="fecha_creacion"/>
          </div>
        </ng-container>
      </div>

      <div class="cli-form-buttons" style="margin-top: 8%">
        <button class="cli-btn btn-m btn-regresar"
                type="submit" (click)="close()">
                <mat-icon class="icon-18">cancel</mat-icon> Cancelar
        </button>

        <button class="cli-btn btn-m btn-turq"
                [disabled]="certificacionForm.invalid"
                (click)="crearOactualizarSubservicio()"
                ><mat-icon class="icon-18">save</mat-icon> {{actionBtn}}
        </button>
      </div>
    </div>
  </form>
</div>

