<div class="cli-modalclose mt-2">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="modal-title c-male">Registro de clientes</div>
    <div>
      <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
      <form [formGroup]="clienteForm">
        <div class="card" style="border-radius: 2px">
          <div class="row g-3 card-body" style="padding: 10px">

            <div class="cli-form-element col-f-3">
              <label>Razón social</label>
              <select formControlName="razon_social" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="cliente.razon_social" *ngFor="let cliente of listClientesCombo">{{cliente.razon_social}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-3">
              <label>Ruc</label>
              <input
                class="cli-input"
                formControlName="ruc"
                type="text"/>
            </div>

            <div class="cli-form-element col-f-3">
              <label>Estado</label>
              <select formControlName="estado" class="cli-input">
                <option [value]="10" disabled>-Seleccione-</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>

            <div class="cli-form-buttons" style="margin-top: 8px">
              <button
                type="submit"
                class="cli-btn btn-m btn-regresar"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="limpiarFiltro()">
                <mat-icon class="icon-18">rotate_left</mat-icon>Limpiar
              </button>

              <button
                type="button"
                class="cli-btn btn-blue-light"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="getAllClientesFiltro()"
                ><mat-icon class="icon-18">search</mat-icon>
                Buscar
              </button>
            </div>
          </div>
        </div>

        <!-- BOTON MODAL PARA CREAR CLIENTE ----------------------------------------------------->
        <div style="display: flex" class="mt-4 mb-1">
          <button
            class="cli-btn btn-m btn-turq"
            [disabled]="clienteForm.invalid"
            (click)="abrirModalCrearOactualizar()">
            <mat-icon class="icon-18">add</mat-icon> Crear cliente
          </button>

          <div class="flex-1"></div>
          <div class="mt-2" style="color: #345df3; font-weight: 600">
            Total : <span class="total">{{ listClientesFiltro.length }} Clientes</span>
          </div>
        </div>
      </form>

      <!-- TABLA DE CLIENTES ------------------------------------------------------------------>
      <div style="overflow: auto; min-height: 208px; color: #6c757d">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-blue-light c-white">
              <th class="w50">Acción</th>
              <th style="min-width: 70px">ID Cliente.</th>
              <th>Razón social</th>
              <th>Ruc</th>
              <th style="min-width: 330px">Proyecto(s)</th>
              <th style="min-width: 100px">Actualizado por</th>
              <th style="min-width: 100px">Fecha creación</th>
              <th style="min-width: 92px" >Estado</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let cliente of listClientesFiltro | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: totalClientes }">
              <td>
                <div class="moad-actions">
                  <button
                    matTooltip="Editar cliente"
                    (click)="abrirModalCrearOactualizar(cliente)"
                    class="icon-btn btn-trans c-yellow"
                    ><mat-icon class="icon-15">drive_file_rename_outline</mat-icon>
                  </button>

                  <button
                    matTooltip="Eliminar cliente"
                    (click)="eliminarCliente(cliente)"
                    class="icon-btn btn-trans c-red">
                    <mat-icon class="icon-15">delete_forever</mat-icon>
                  </button>
                </div>
              </td>
              <td style="text-align: left">CLI-{{ cliente.idCliente }}</td>
              <td style="text-align: left; min-width: 240px;">{{ cliente.razon_social }}</td>
              <td style="text-align: left; min-width: 100px;">{{ cliente.ruc }}</td>
              <td>{{ cliente.proyectos }}</td>
              <td style="color: #0d6efd;;">{{ cliente.usuarioActualiza.username }}</td>
              <td>{{ cliente.fecha_creacion | date:'dd/MM/yyyy' }}</td>
              <td class="moad-module">
                <mat-icon [ngClass]="{ 'c-green_x': cliente.estado.estadoId == 1, 'c-red': cliente.estado.estadoId != 1 }" class="icon-18">report</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>cargando...
        </div>

        <div
          *ngIf="!loadingItem && listClientesFiltro.length == 0"
          class="cli-loader mt-5"
          style="color: #f83434">
          No hay Clientes para mostrar
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)">
      </pagination-controls>
    </div>
  </div>

  <div class="cli-form-buttons">
    <button class="cli-btn btn-m btn-regresar"
            type="submit" (click)="close()">
            <mat-icon class="icon-18">keyboard_return</mat-icon> Regresar
    </button>
</div>
