
.inputiconcont{
  display: flex;
  align-items: center;
  & mat-icon{
      margin-right: 5px;
      border-radius: 50%;
      background-color: #BDE4A4;
  }
  & input{
      flex: 1 1;
      width: 80%;
  }
}

.cli-modalclose{
  position: relative;
  & mat-icon{
      position: absolute;
      right: -12px;
      top: -12px;
      border-radius: 2px;
      color: #50535A;
      transition: ease .3s;
      &:hover{
          cursor: pointer;
          color: #E66C64;
      }
  }
}
.c-male {
  color: #00bec0;
}

.icon-20{
  width: 20px !important;
  height: 20px !important;
  font-size: 20px !important;
}

.moda-close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 20;
}

.cli-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  &-title {
    width: 100%;
    font-family: "Telefonica-Bold";
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  &-titleback {
    margin-right: 100px;
    display: flex;
  }
  &-subtitle{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Telefonica-Bold';
    border-bottom: 1px solid #D3D4D3;
    display: flex;
    align-items: center;

    & mat-icon{
        margin-right: 10px;
    }
}
  &-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  &-element {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    & label {
      padding: 0;
      margin: 0 2px;
      font-size: 0.9rem;
    }
    &:focus-within label {
      color: #00bec0;
    }
  }
  &-suggest{
    height: 20px;
    font-size: .8rem;
    color: #86888C;
}
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 5px;
  }
}
.cli-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col-f-3{
  width: 33%;
  padding: 5px 10px;
}

.cli-input {
  border: solid 0.5px #F4F4F3;
  background-color: #f4f4f3;
  border-radius: 2px;
  padding: 4px 2px;
  transition: ease 0.3s;
  text-align: center;
  &:hover:enabled {
    background-color: #f2f4ff;
  }
  &:focus:enabled {
    background-color: transparent;
    border-color: #00bec0;
  }
  &:disabled {
    background-color: transparent;
    color: #86888c;
    border-color: transparent;
  }
}
.col-f-1{
  width: 100%;
  padding: 5px 10px;
}
.col-f-fill{
  flex: 1 1;
  padding: 5px 10px;
}
.icon-18{
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}


.cli-btn {
  border: none;
  border-radius: 2px;
  margin: 0 5px;
  height: 30px;
  padding: 0 10px;
  font-family: "Telefonica-Bold" !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  & mat-icon {
    margin: 0 5px;
  }
  &:disabled {
    background-color: #f4f4f3;
    color: #fff;
  }
}

.btn-grey {
  background-color: #e9eae8;
  transition: ease 0.3s;
  &:hover:enabled {
    background-color: #f4f4f3;
  }
  &:hover:enabled:active {
    background-color: #d3d4d3;
  }
}
.btn-turq{
  background-color: #59C2C9;
  color: #fff;
  transition: ease .3s;
  cursor: pointer;
  &:hover:enabled{
      background-color: #67E0E5;
  }
  &:hover:enabled:active{
      background-color: #3E8A8A;
  }
}
.cli-col{
  display: flex;
  flex-direction: column;
}
.flex-1{
  flex: 1 1;
}
