<div class="cli-header">
  <div (click)="openMobileMenu()" class="header-icon"><mat-icon>menu</mat-icon></div>
  <div class="logoheader">
    <img class="hlogo" src="../../../assets/images/logos/log2.svg" />
    <div class="logo-let" style="color: #fff">
      <div style="font-weight: bold">
        Dynamo<span style="font-weight: 200">Support</span>
      </div>
    </div>
  </div>
  <div class="header-nav-items"></div>
  <div class="row">
    <div class="col-sm-12 personname" style="color: #555555">
      {{ currentUser | uppercase }}
      <br />
      <div *ngIf="authService.esUsuarioSuperAdmin()" class="rol-superAdmin col-sm-12 cli-btn"  style="font-size: 12px; font-weight: 400; margin-top: -11px;"><mat-icon class="icon-13">person</mat-icon> {{userRolName}}</div>
      <div *ngIf="authService.esUsuarioLider()"      class="rol-lider col-sm-12 cli-btn"       style="font-size: 12px; font-weight: 400; margin-top: -11px;"><mat-icon class="icon-13">person</mat-icon> {{userRolName}}</div>
      <div *ngIf="authService.esUsuarioAdmin()"      class="rol-admin col-sm-12 cli-btn"       style="font-size: 12px; font-weight: 400; margin-top: -11px;"><mat-icon class="icon-13">person</mat-icon> {{userRolName}}</div>
      <div *ngIf="authService.esUsuarioGestor()"     class="rol-gestor col-sm-12 cli-btn"      style="font-size: 12px; font-weight: 400; margin-top: -11px;"><mat-icon class="icon-13">person</mat-icon> {{userRolName}}</div>
      <div *ngIf="authService.esUsuarioCoordTdp()"   class="rol-coordinador col-sm-12 cli-btn" style="font-size: 12px; font-weight: 400; margin-top: -11px;"><mat-icon class="icon-13">person</mat-icon> {{userRolName}}</div>
      <div *ngIf="authService.esCoordLider()"        class="rol-coordinador col-sm-12 cli-btn" style="font-size: 12px; font-weight: 400; margin-top: -11px;"><mat-icon class="icon-13">person</mat-icon> {{userRolName}}</div>
    </div>
  </div>

  <app-user-section [photouri]="phtouri" [nameini]="nameini"></app-user-section>

  <button class="btn-grey mb-2 mt-3 btn-logout"
    (click)="logOut()"
    type="submit"
    ><mat-icon class="icon-16">logout</mat-icon>Salir
  </button>
</div>

<app-menu-mobile></app-menu-mobile>
