<div style="display: flex;">
  <div class="flex-1"></div>
  <div class="modal-title c-male">Actualizar vacaciones</div>
  <div class="flex-1"></div>

  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form class="row g-3" [formGroup]="vacacionesForm">
  <div class="cli-form newvac-wrapper">
    <div class="chart-draw">
      <!-- REGISTROS DEL PERSONAL-------------------------------------------------------------------- -->
      <div class="mx-5 mt-2">
        <div class="pr-module-containerXZ">
          <div class="row" style="justify-content: space-between;">
            <!-- account_circle / sensor_occupied-->
            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>workspaces</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['codCorp'].value}}</div>
            </div>

            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>person</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['nombre'].value | uppercase}} {{vacacionesForm.controls['apPaterno'].value | uppercase}} {{vacacionesForm.controls['apMaterno'].value | uppercase}}</div>
            </div>

            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>category</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['proyecto'].value}}</div>
            </div>

            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>calendar_month</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['fecha_ingreso'].value}}</div>
            </div>

            <!-- <div class="input-group col-sm-4"
                 [ngClass]="vacacionesForm.controls['estado_persona'].value == 'Activo' ? 'estado-act' : 'estado-danger'">
              <div class="input-group-text"
                 [ngClass]="vacacionesForm.controls['estado_persona'].value == 'Activo' ? 'estado-act' : 'estado-danger'"
                 ><mat-icon>info</mat-icon>
              </div>
              <div class="info">{{vacacionesForm.controls['estado_persona'].value}}</div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- DATOS DE LA EMPRESA ------------------------------------------------------------------------->
      <div class="pr-subtitle mt-2">Registro vacaciones</div>
      <div class="pr-section mb-3">
        <div class="pr-module-container">
          <div class="row g-3">
            <div class="col-sm-3 cli-form-element">
              <label>Sistema</label>
              <select class="cli-input-white" formControlName="idSistema">
                <option [value]="0" disabled>- Seleccione -</option>
                <option [value]="sistema.id_correlativo" *ngFor="let sistema of listSistemaVacaciones">{{sistema.valor_texto_1}}</option>
              </select>
            </div>

            <!-- <div class="col-sm-3 cli-form-element">
              <div class="form-group">
                <label>Fecha de incio</label>
                <input
                  type="date"
                  class="form-control cli-input-white"
                  formControlName="fechaInicVac"/>
              </div>
            </div> -->

            <!-- <div class="col-sm-3 cli-form-element">
              <div class="form-group">
                <label>Fecha de incio</label>
                <input
                  type="date"
                  class="form-control cli-input-white"
                  formControlName="fechaInicVac"/>
              </div>
            </div> -->

            <!-- <div class="col-sm-3 cli-form-element">
              <mat-form-field>
                 <input matInput
                  [matDatepicker]="picker2"
                  [max]="currentDate"
                  placeholder="Fecha de inicio"
                  required
                  formControlName="fechaInicVac" />
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
              </mat-form-field>
            </div>

            <div class="col-sm-3 cli-form-element">
              <div class="form-group">
                <label>Fecha finAL</label>
                <input matInput [matDatepicker]="mypicker"
                  class="form-control cli-input-white"
                  style="display:inline"
                  formControlName="fechaFinVac"/>
                  <mat-datepicker-toggle matSuffix [for]="mypicker"></mat-datepicker-toggle>
                  <mat-datepicker #mypicker></mat-datepicker>

                <small class="form-text text-alert" *ngIf="campoNoValido('fechaFinVac')">* Ingrese la Fecha es obligatorio</small>
              </div>
            </div> -->

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Fecha de Inicio </label>
              <div class="calendario">
                <mat-form-field color = "acento" apariencia = "relleno" >
                   <input matInput [matDatepicker]="picker2"
                    [max]="currentDate"
                    (dateChange)="getFechaIni($event)"
                    required formControlName="fechaInicVac" />
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                </mat-form-field>
              </div>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Fecha de Fin </label>
              <div class="calendario">
                <mat-form-field >
                   <input matInput [matDatepicker]="picker3"
                    [max]="currentDate"
                    required formControlName="fechaFinVac" />
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
                </mat-form-field>
              </div>
            </div>

            <!-- <div class="col-sm-3 cli-form-element">
              <mat-form-field>
                 <input matInput [matDatepicker]="picker" [max]="currentDate"
                  placeholder="Fecha fin" required formControlName="fechaFinVac" />
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              </mat-form-field>
            </div> -->
           <!-- <div class="col-md-3 Dinline-block">
            <mat-form-field>
               <input matInput [matDatepicker]="picker2" [max]="currentDate"
                placeholder="DOB(DD/MM/YYYY)" required formControlName="dob" readonly />
               <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
               <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
         </div> -->

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Total días vacaciones</label>
              <input
                style="font-weight: 600; text-align:center"
                type="number"
                readonly="true"
                class="form-control"
                formControlName="total_dias_vac"/>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Estado *</label>
              <select class="cli-input-white" formControlName="id_estado_vac">
                <option [value]="0" disabled>- Seleccione -</option>
                <option [value]="estado.id_correlativo" *ngFor="let estado of listEstadoVacacionesAprobadas">{{estado.valor_texto_1}}</option>
              </select>
                <small class="form-text text-alert" *ngIf="campoNoValido('id_estado_vac')">* Ingrese el Estado es obligatorio</small>
            </div>

          </div>
        </div>
      </div>

      <!-- AGREGAR VACACIONES------------------------------------------------------------------ -->
      <div *ngIf="DATA_VACACIONES">
        <div style="display: flex; background-color: #f6f3f3;" >
          <div class="pr-subtitle">Periodo Vacaciones</div>
          <div class="flex-1"></div>
            <button class="btn-asignar btn-grey"  matTooltip="Planificar vacaciones" type="submit" style="color: #4a93ff; margin-right: 6px;" (click)="asignarVacaciones()">
              <mat-icon class="icon-13">add</mat-icon><mat-icon class="icon-13">flight</mat-icon>
            </button>
        </div>
        <div class="pr-section mb-2">
          <div class="pr-module-container">
            <div style="overflow: auto; min-height: 50px">
                <table class="cli-table stripedtable underlinedtable">
                  <thead>
                    <tr class="bgc-blue-light c-white">
                      <th>Accíón</th>
                      <th>N°</th>
                      <th>Fecha inicio</th>
                      <th>Fecha fin</th>
                      <th>Días Calendario</th>
                      <th>Estado</th>
                      <th>Motivo</th>
                      <th>Fecha registro</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let periodo of listVacacionesPeriodo; let i = index">
                      <td class="w55">
                        <div class="cli-table-actions">
                          <button
                              matTooltip="Actualizar"
                              class="icon-btn btn-trans c-blue"
                              (click)="actualizarVacaciones(periodo)"
                              ><mat-icon class="icon-13">edit</mat-icon>
                            </button>
                          <button
                            matTooltip="Eliminar"
                            class="icon-btn c-fucsia"
                            (click)="eliminarVacaciones(periodo.idVacaciones)"
                            ><mat-icon class="icon-13">delete_forever</mat-icon>
                          </button>
                        </div>
                      </td>
                      <td>{{i+1}}</td>
                      <td>{{periodo.fecha_inicio}}</td>
                      <td>{{periodo.fecha_fin}}</td>
                      <td>{{periodo.cant_dias_periodo}}</td>
                      <td>{{periodo.vac_estado}}</td>
                      <td>{{periodo.vac_motivo}}</td>
                      <td>{{periodo.fecha_creacion}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="cli-loader" *ngIf="loadingItem">
                  <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>
                  cargando...
                </div>

                <div
                *ngIf="!loadingItem && listVacacionesPeriodo.length == 0"
                class="cli-loader mt-2"
                style="color: #c9c9c9"
                >Aquí se mostrará la Planificación de las Vacaciones ...
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- HISTORICO DE PERIODOS DE VACACIONES---------------------------------------------------------- -->
        <div class="pr-subtitle mt-2">Histórico Vacaciones registradas</div>
        <div class="pr-section">
          <div class="pr-module-container">
            <div style="overflow: auto; min-height: 100px">
              <table class="cli-table stripedtable underlinedtable">
                <thead>
                  <tr class="bgc-turquey c-white">
                    <th>#</th>
                    <th>Cód. Proyecto</th>
                    <th>Estado</th>
                    <th>Fecha de Cambio</th>
                    <th>Responsable</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let cambios of histCambiosProyecto; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ cambios.proyecto_codigo }}</td>
                    <td>En curso</td>
                    <td>{{ cambios.fecha_asignacion }}</td>
                    <td>{{ cambios.nombre_usuario_asignacion }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="cli-loader" *ngIf="loadingItem">
                <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>
                cargando...
              </div>

              <div
                *ngIf="!loadingItem && histCambiosProyecto.length == 0"
                class="cli-loader mt-2"
                style="color: #c9c9c9"
                >Aquí se mostrará el histórico de Vacaciones ...
              </div>
            </div>
          </div>
        </div>

    </div>

    <!-- --------------------------------------------BOTONES ------------------------------------------->
    <div class="cli-form-buttons">
      <button class="cli-btn btn-m btn-cancel" type="submit" (click)="close()">
        <mat-icon class="icon-18">cancel</mat-icon> Cancelar
      </button>
      <button class="cli-btn btn-m btn-blue" (click)="actualizarVacaciones">
        <!-- [disabled]="vacacionesForm.invalid" -->
        <mat-icon class="icon-18">save</mat-icon> Actualizar
      </button>
    </div>
  </div>
</form>






