<div style="display: flex">
  <div class="modal-title c-male" style="font-weight: 400; font-size: 20px">
    Pendiente : [<strong>{{ this.PROY_BY_GESTOR }}</strong>]
    <!-- Pendiente : [<strong>{{ gestorReg }} - {{proyectoReg}}</strong>] -->
  </div>
  <div class="flex-1"></div>
</div>

<div class="pr-module-container">
  <div style="overflow: auto; min-height: 100px; max-height: 160px">
    <table class="cli-table stripedtable underlinedtable">
      <thead>
        <tr class="bgc-turquey c-white">
          <th>N°</th>
          <!-- <th>Proyecto</th>   -->
          <th style="min-width: 58px;" >Periodo</th>
          <th style="min-width: 95px;" >Gestor</th>
          <th style="min-width: 150px;">Subservicio</th>
          <th style="text-align: end;">Pendiente</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let x of listPendienteByGestor; let i = index">
          <td>{{ i+1 }}</td>
          <!-- <td>{{ x.proyecto }}</td> -->
          <td>{{ x.periodo  }}</td>
          <td>{{ x.gestor }}</td>
          <td style="color: #6c757d;">{{ x.subservicio }}</td>
          <td style="text-align: end;">{{ x.pendiente | number:'1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
