<div class="cli-modalclose">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-form mt-3">
  <div class="cli-form-title c-male" style="margin-bottom: 20px; color: #adadad; font-size: 18px;">{{ DATA_DET_ACTA.detalle.idDetalleActa && DATA_DET_ACTA.isCreate? "Certificar" : "Actualizar certificación" }} detalle</div>

  <form class="row g-3" [formGroup]="certificacionForm">
    <div class="cli-form newvac-wrapper">
      <div style="display: flex">
        <div class="id-score">Analista :<span class="total">{{DATA_DET_ACTA.detalle.nombre}}</span></div>
        <div class="flex-1" style="background: #f8f9fa"></div>
        <div class="venta">Precio total : <span class="total">{{DATA_DET_ACTA.detalle.precioTotal}}</span></div>
        <div class="flex-1" style="background: #f8f9fa"></div>
        <div class="cert">total certificado : <span class="total">{{DATA_DET_ACTA.detalle.certificado}}</span></div>
      </div>

      <div class="row">
        <div class="cli-form-element col-f-3">
          <label>Certificación <small style="color: red">*</small></label>
          <select formControlName="idCertificacion" class="cli-input">
            <option [value]="0" disabled>-Seleccione-</option>
            <option [value]="cert.id" *ngFor="let cert of listCertificaciones">{{cert.nombre}}</option>
          </select>
          <small class="form-text text-alert" *ngIf="campoNoValido('idCertificacion')">* Seleccione el Certificación es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3">
          <label>Monto <small style="color: red">*</small></label>
          <input class="cli-input"
            formControlName="monto"
            type="number"/>
          <small class="form-text text-alert" *ngIf="campoNoValido('monto')">* Ingrese la Monto es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3" *ngIf="DATA_DET_ACTA.detalle.idDetalleCertificacion">
          <label>Estado</label>
          <select formControlName="idEstado" class="cli-input_x">
            <option [value]="0" disabled>-Seleccione-</option>
            <option [value]="estado.estado" *ngFor="let estado of listEstadoDetActa">{{estado.estado}}</option>
          </select>
        </div>

        <div class="cli-form-element col-f-3">
          <label>Fecha certificación <small style="color: red">*</small></label>
          <input type="date" class="cli-input" formControlName="fechaCertificacion" />
          <small class="form-text text-alert" *ngIf="campoNoValido('fechaCertificacion')">* Ingrese la Fecha de certificación es obligatorio</small>
        </div>

        <div class="cli-form-buttons">
          <button
            class="cli-btn btn-m btn-regresar"
            type="submit"
            (click)="close()">
            <mat-icon class="icon-18">cancel</mat-icon> Cancelar
          </button>

          <button
            class="cli-btn btn-m btn-turq"
            [disabled]="certificacionForm.invalid"
            (click)="crearOactualizarDetalleCertificacion()">
            <mat-icon class="icon-18">save</mat-icon> {{ actionBtn }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
