<div class="cli-modalclose">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-form mt-3">
  <div class="cli-form-title c-male mt-3">{{ DATA_ACTA ? "Actualizar" : "Crear" }} acta_</div>

  <form class="row g-3" [formGroup]="subActasForm">
    <div class="cli-form newvac-wrapper">
      <div class="chart-draw">
        <div style="display: flex" *ngIf="DATA_ACTA">
          <div class="pr-subtitle mt-2">Datos del Acta</div>

          <div class="flex-1" ></div>
          <ng-container
            class="input-group">
            <!-- <div class="input-group-text" >
              <mat-icon style="color: #0d6efd; margin-top: 4.5px">person</mat-icon>
            </div> -->
            <div class="cli-user">
              {{ subActasForm.controls["gestor"].value | uppercase }}
            </div>
          </ng-container>
          <div class="flex-1" ></div>
          <div class="id-acta"><span class="total">{{ DATA_ACTA.idActaConcat }}</span></div>
        </div>

        <div class="pr-section mb-1">
          <div class="pr-module-container row g-3">
            <div class="cli-form-element col-f-4">
              <label>Gestor</label>
              <select formControlName="idGestor" class="cli-input_x">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="gestor.idGestor" *ngFor="let gestor of listGestores">{{gestor.nombreCompleto}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Proyecto</label>
              <select formControlName="idProyecto" class="cli-input_x">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="proy.idProyecto" *ngFor="let proy of listProyectos">{{ proy.codigo_proyecto }}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Subservicio</label>
              <select formControlName="subservicio" class="cli-input_x">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="subs.idSubservicio" *ngFor="let subs of listSubservicios">{{ subs.nombreCompleto }}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4" >
                <label>Periodo</label>
                 <input
                  type="month"
                  class="cli-input_x"
                  formControlName="periodo"/>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Estado</label>
              <select formControlName="idEstado" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="estado.idEstado" *ngFor="let estado of listEstadoDetActa">{{estado.nombre}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Venta total</label>
              <input class="cli-input_x" formControlName="importe" type="text" />
              <small class="form-text text-alert" *ngIf="campoNoValido('importe')">* Ingrese el Importe es obligatorio</small>
            </div>

            <div class="cli-form-element col-f-4" *ngIf="DATA_ACTA">
              <label>Declarado</label>
              <input class="cli-input_x" formControlName="declarado" type="text" />
              <!-- <small class="form-text text-alert" *ngIf="campoNoValido('declarado')">* Ingrese el Importe es obligatorio</small> -->
            </div>

            <div class="cli-form-element col-f-2"               >
              <label>Comentario</label>
              <textarea
                class="cli-input_x"
                style="
                  background-image: none;
                  border-color: #bdbdbd;
                  font-size: 12px;"
                rows="1"
                placeholder="Escriba algún comentario del Acta..."
                formControlName="comentario"
              ></textarea>
            </div>
          </div>
        </div>

        <ng-container>
          <div *ngIf="DATA_ACTA" class="pr-subtitle mt-1">Detalle Acta</div>
          <div class="pr-section mb-1">
            <div class="pr-module-container row g-3">
              <div class="cli-card fit-card">
                <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
                <form [formGroup]="subActasForm">
                  <!-- <div class="card" style="border-radius: 2px; border: none;" *ngIf="listDetActas.length > 0">
                    <div class="row g-3 card-body" style="padding: 10px">
                      <div class="cli-form-element col-f-4">
                        <label>ID Detalle</label>
                        <input
                          class="cli-input"
                          formControlName="idSubacta"
                          type="number"/>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Proyecto</label>
                        <select formControlName="proyecto_filtro" class="cli-input">
                          <option [value]="0" disabled>-Seleccione-</option>
                          <option [value]="proy.codigo_proyecto"*ngFor="let proy of listProyectos">{{ proy.codigo_proyecto }}</option>
                        </select>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Subservicios</label>
                        <select formControlName="serv_filtro" class="cli-input">
                          <option [value]="0" disabled>-Seleccione-</option>
                          <option [value]="subs.idSubservicio"*ngFor="let subs of listSubservicios">{{ subs.nombreCompleto }}</option>
                        </select>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Gestor</label>
                        <select formControlName="gestor_filtro" class="cli-input">
                          <option [value]="0" disabled>-Seleccione-</option>
                          <option [value]="subs.idGestor"*ngFor="let subs of listGestores">{{ subs.nombreCompleto }}</option>
                        </select>
                      </div>

                      <div class="cli-form-buttons" style="margin-top: 5px">
                        <button
                          type="submit"
                          class="cli-btn btn-m btn-regresar"
                          style="border-radius: 2px; padding: 0.225rem 0.75rem"
                          (click)="limpiarFiltro()"
                          ><mat-icon class="icon-18">rotate_left</mat-icon>
                          Limpiar
                        </button>

                        <button
                          type="button"
                          class="cli-btn btn-blue-light"
                          style="border-radius: 2px; padding: 0.225rem 0.75rem"
                          ><mat-icon class="icon-18">search</mat-icon>
                          Buscar
                        </button>
                      </div>
                    </div>
                  </div> -->

                  <!-- BOTON MODAL PARA CREAR DEALLE ----------------------------------------------------->
                  <div style="display: flex">
                    <div class="d-flex">
                      <button
                        class="cli-btn btn-turq mb-1"
                        (click)="crearOactualizarDetActa(DATA_ACTA)"
                        ><mat-icon class="icon-18">add</mat-icon>Crear detalle
                      </button>
                    </div>

                    <div class="flex-1"></div>
                    <div class="mt-1" style="color: #345df3; font-weight: 400" *ngIf="listDetActas.length > 0">
                      Total : <span class="total">{{ listDetActas.length }} Actas detalle</span>
                    </div>
                  </div>

                  <!-- NUEVO DETALLE ACTA CON SUB MENU -->
                  <ng-container *ngIf="!loading">
                    <div style="overflow: auto; min-height: 100px; max-height: 185px; color:#6c757d;">

                    <table class="cli-table_x stripedtable underlinedtable" *ngIf="listDetActas.length > 0" >
                      <thead>
                        <tr class="bgc-blue c-white">
                          <th style="min-width: 120px"></th>
                          <th>ID DET.</th>
                          <th>Analista</th>
                          <th>Perfil</th>
                          <th style="min-width: 80px;">Precio unid.</th>
                          <th>Cantidad</th>
                          <th>Total</th>
                          <th>Observaciones</th>
                          <th>Comentario</th>
                          <th>Unidad</th>
                          <th>Certificación</th>
                        </tr>
                      </thead>

                      <tbody style="background: #e9eae8">
                        <tr *ngFor="let detalle of listDetActas; let i = index">
                          <!-- <td style="min-width: 180px; font-weight: 400"><mat-icon style="vertical-align: middle"[ngClass]="{ 'c-green': acta.enable,'c-light': !acta.enable}"class="icon-18">{{ acta.icon }}</mat-icon><small style="margin-left: 10px"> </small>{{ acta.periodo }}:<small style="margin-left: 10px; font-size: 14px">{{ acta.gestor }}</small></td> -->
                          <td>
                            <div class="moad-actions">
                              <button
                                (click)="crearOactualizarDetActa(detalle)"
                                class="icon-btn btn-trans"
                                style="color: #69aafa">
                                <mat-icon class="icon-15">drive_file_rename_outline</mat-icon>
                              </button>

                              <button
                                (click)="eliminarDetalleActa()"
                                class="icon-btn btn-trans c-fucsia"
                                ><mat-icon class="icon-15">delete_forever</mat-icon>
                              </button>
                            </div>
                          </td>
                          <td>{{detalle.idDetalleActaConcat}}</td>
                          <td style="min-width: 150px; text-align: left;">{{detalle.nombre}}</td>
                          <td style="min-width: 100px;">{{detalle.perfil}}</td>
                          <td>{{detalle.precioUnidad}}</td>
                          <td>{{detalle.unidades    }}</td>
                          <td>{{detalle.precioTotal }}</td>
                          <td>{{detalle.observacion }}</td>
                          <td>{{detalle.comentario  }}</td>
                          <td>{{detalle.unidad      }}</td>
                          <td>{{'¿?' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                    <div class="cli-loader" *ngIf="loadingItem">
                      <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>
                      cargando...
                    </div>

                    <div *ngIf="!loadingItem && listDetActas.length == 0"
                      class="cli-loader mt-5"
                      style="color: #f83434"
                      >No hay detalle acta para mostrar
                    </div>

                  </ng-container>
                  <div class="cli-loader" *ngIf="loading">
                    <mat-spinner diameter="40"></mat-spinner>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="cli-form-buttons" style="margin-top: 4%">
          <button
            class="cli-btn btn-m btn-regresar"
            type="submit"
            (click)="close()">
            <mat-icon class="icon-18">keyboard_return</mat-icon> Regresar
          </button>

          <button
            class="cli-btn btn-m btn-turq"
            [disabled]="subActasForm.invalid"
            (click)="crearOactualizarSubActa()">
            <mat-icon class="icon-18">save</mat-icon> {{ actionBtn }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>



