<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="modal-title c-male">Registro de Actas</div>
    <div>
      <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
      <form [formGroup]="actasForm">
        <div class="card" style="border-radius: 2px;">
          <div class="row g-3 card-body" style="padding: 10px">

            <div class="cli-form-element col-f-4">
              <label>ID Acta</label>
              <input
                class="cli-input"
                formControlName="idActa"
                type="text"/>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Proyectos</label>
              <select formControlName="idProyecto" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="proy.idProyecto" *ngFor="let proy of listProyectos">{{proy.codigoProyecto}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Gestor</label>
              <select formControlName="idGestor" class="cli-input" style="text-align: left">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="gestor.id" *ngFor="let gestor of listGestoresCombo">{{gestor.nombre}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Subservicios</label>
              <select formControlName="idSubservicio" class="cli-input" style="text-align: left">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="subs.id" *ngFor="let subs of listSubserviciosCombo">{{subs.nombre}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Total</label>
              <input
                class="cli-input"
                type="text"
                formControlName="montoMinimo"/>
            </div>

            <!-- <div class="cli-form-element col-f-4">
              <label>Total</label>
              <input
                class="cli-input"
                type="text"
                formControlName="montoMinimo"/>
            </div> -->

            <div class="cli-form-element col-f-4" >
              <label>Periodo</label>
               <input
                type="month"
                class="cli-input"
                formControlName="periodo"/>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Estado acta</label>
              <select formControlName="idEstado" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="estado.idEstado" *ngFor="let estado of listEstadoActa">{{estado.nombre}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Estado Registro</label>
              <select formControlName="estadoAgrupacion" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option value="Completado">Completado</option>
                <option value="Pendiente" >Pendiente</option>
              </select>
            </div>

            <div class="cli-form-buttons" style="margin-top: 8px">
              <button
                type="submit"
                class="cli-btn btn-m btn-regresar"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="limpiarFiltro()"
                ><mat-icon class="icon-18">rotate_left</mat-icon>
                Limpiar
              </button>

              <button
                type="button"
                class="cli-btn btn-blue-light"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="getAllActas()"
                ><mat-icon class="icon-18">search</mat-icon>
                Buscar
              </button>
            </div>
          </div>
        </div>

        <!-- BOTON MODAL PARA CREAR ACTA ----------------------------------------------------->
        <div style="display: flex" class="mt-4 mb-1">
          <div class="d-flex">
            <button class="cli-btn btn-turq"
              (click)="abrirModalCrearOactualizar()"
              ><mat-icon class="icon-18">add</mat-icon>Crear acta
            </button>
          </div>

          <div class="flex-1"></div>
          <div class="mt-2 total-actas">
            Registros: <span style="color: #00000061">{{ listActas.length }}</span><span style="color: #dee2e6;"> | </span>
            Actas: <span style="color: #00000061">{{ total_actas }} </span>
          </div>
        </div>
      </form>

      <!-- ACTA CON SUB MENU -->
      <ng-container *ngIf="!loading">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-blue-light c-white">
              <th style="min-width: 135px;">
                <div class="cli-table-user">
                  <button matTooltip="Exportar filtro"
                    class="icon-btn btn-trans c-white"
                    (click)="exportarActa()"
                    ><mat-icon class="icon-16">downloading</mat-icon>
                  </button>

                  <button matTooltip="Exportar vd"
                    class="icon-btn btn-trans c-white"
                    (click)="exportarVentaDeclarada()"
                    ><mat-icon class="icon-16">file_download</mat-icon>
                  </button>
                </div>
              </th>
              <th style="min-width: 95px;">ID Acta </th>
              <th>Proyecto</th>
              <th style="min-width: 140px;">Subservicio</th>
              <th>Estado</th>
              <th>Total </th>
              <th>Declarado</th>
              <th>Facturado</th>
              <th>Pendiente</th>
              <th style="min-width: 110px;">Actualizado por:</th>
              <th>Observación</th>
            </tr>
          </thead>
        </table>

        <div class="cli-col" *ngFor="let acta of listActas | paginate:{ itemsPerPage: pageSize,currentPage : page,totalItems  : totalActas}; let i = index">

          <!-- ACTAS -->
        <div class="moad-module">
          <div class="moad-module-title">
          <table class="cli-table_x stripedtable underlinedtable">
            <tbody style="background: #e9eae8;">
                <td><button (click)="showingidx = i" class="icon-btn btn-s btn-turq"><mat-icon class="icon-20">{{ showingidx == i? "keyboard_arrow_down" : "keyboard_arrow_right"}}</mat-icon></button></td>
                <td style="min-width: 225px; font-weight: 400; text-align: left;color: #456a92;">
                 <small style="font-size: 13px;font-weight: 600;">{{ acta.periodo }}:</small><small style="margin-left: 10px; font-size: 14px">{{ acta.gestor }}</small>
                </td>
                <td></td>
                <td></td>
                <td>
                  <small style="display: flex; min-width: 85px;">
                    <mat-icon [ngClass]="{ 'c-green_x': acta.estado == 'Completado', 'c-red': acta.estado == 'Pendiente' }" class="icon-18">report</mat-icon>{{acta.estado | uppercase}}
                  </small>
                </td>
                <td>{{ acta.ventaTotal     | number : "1.0-2"}}</td>
                <td>{{ acta.declaradoTotal | number : "1.0-2"}}</td>
                <td>{{ acta.facturadoTotal | number : "1.0-2"}}</td>
                <td>{{ acta.ventaTotal  - acta.facturadoTotal | number : "1.0-2"}}</td>
                <td></td>
                <td style="font-weight: 600;">
                  <div class="cli-table-dias">
                    {{ acta.totalActas}}
                  </div>
                </td>
            </tbody>
          </table>
         </div>

         <!-- BUTTONS EDIT - ADD -->
          <!-- <div class="moad-actions">
            <button
              matTooltip="Eliminar acta"
              (click)="eliminarActa(acta.idActa)"
              class="icon-btn btn-trans c-fucsia">
              <mat-icon class="icon-18">delete</mat-icon>
            </button>

            <button
              matTooltip="Editar acta"
              (click)="abrirModalCrearOactualizar(acta)"
              class="icon-btn btn-trans c-yellow"
              ><mat-icon class="icon-18">edit</mat-icon>
            </button>

            <button

              matTooltip="Agregar acta"
              (click)="abrirActa(ID_ACTA)"
              class="icon-btn btn-trans c-green"
              ><mat-icon class="icon-18">add</mat-icon>
            </button>
          </div> -->
        </div>

        <!-- SUBMENUS DETALLE ACTA-->
        <div *ngIf="showingidx == i" class="moad-menus">
          <div class="moad-menu" style="color:#a4a5a6; justify-content: center;" *ngIf="acta.actaResponses.length == 0">Aún no se agregan DETALLES a esta Acta</div>

          <div style="overflow: auto; color:#6c757d;">
            <div style="overflow: auto; min-height: 92px; max-height: 92px; color:#6c757d;">

            <table class="cli-table_x stripedtable underlinedtable">
              <tbody>
                <tr *ngFor="let detalle of acta.actaResponses">
                  <td></td>
                  <td>
                    <div class="moad-actions">
                      <button (click)="abrirActa(detalle)"
                        class="icon-btn btn-trans" style="color: #69aafa;">
                        <mat-icon class="icon-15">drive_file_rename_outline</mat-icon>
                      </button>

                      <button (click)="eliminarActa(detalle)"
                        class="icon-btn btn-trans c-fucsia">
                        <mat-icon class="icon-15">delete_forever</mat-icon>
                      </button>
                    </div>
                  </td>
                  <td style="text-align: left; min-width: 95px; font-weight: 700;">{{ detalle.idActaConcat }}</td>
                  <td>{{ detalle.proyecto    }}</td>
                  <td style="min-width: 125px;">{{ detalle.subservicio }}</td>
                  <td>{{ detalle.estado             }}</td>
                  <td>{{ detalle.ventaTotalActa     | number : "1.0-2"}}</td>
                  <td>{{ detalle.declaradoTotalActa | number : "1.0-2"}}</td>
                  <td>{{ detalle.facturadoTotalActa | number : "1.0-2"}}</td>
                  <td>{{ detalle.ventaTotalActa -  detalle.facturadoTotalActa  }}</td>
                  <!-- <td>
                    <small class="label">
                      {{ detalle.usuarioCreacion.usuario }}
                    </small>
                  </td> -->
                  <td style="text-align:left ">
                    <div class="cli-table_x-user">
                      <button *ngIf="detalle.usuarioCreacion.usuario"
                        matTooltip={{detalle.usuarioCreacion.fullName}}
                        class="icon-btn btn-trans"
                        style="color: #6c757d;"
                        ><mat-icon class="icon-13" style="color: #0dcaf0;">person_outline</mat-icon>
                      </button>{{ detalle.usuarioCreacion.usuario }}
                    </div>
                  </td>
                  <td style="text-align: left; min-width: 125px">{{ detalle.comentario }}</td>
                </tr>
              </tbody>
            </table>
          </div>

            <!-- <div class="cli-loader" *ngIf="loadingItem">
              <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>
              cargando...
            </div> -->
          </div>
        </div>
      </div>

    </ng-container>
      <div class="cli-loader" *ngIf="loading">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)">
      </pagination-controls>
    </div>
  </div>
</div>











