<div class="cli-card cli-shadow-1 fit-card">
  <div class="cli-card-body">
    <div class="cli-title" style="margin-bottom: 30px">Gestión de Mantenimiento</div>

    <!-- <app-usuarios-list></app-usuarios-list> -->

    <div class="d-flex flex-column options col-12">
      <div class="d-flex flex-row justify-content-left align-items-stretch flex-wrap">

        <div class="col-12 col-md-4 col-lg-4 col-sm-12">
          <a class="option-module p-2">
            <div class="d-flex flex-row" style="justify-content: center">
              <div class="d-flex flex-column ml-2 option-module-title">
                <div style="display: flex; align-items: center;">
                  <mat-icon class="icon-50">manage_accounts</mat-icon><label style="font-size: 20px; font-weight: 700;">Gestor</label>
                </div>
                <span class="description-module">Lista de gestores relacionados con las Actas</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-sm-12">
          <a class="option-module p-2">
            <div class="d-flex flex-row" style="justify-content: center">
              <div class="d-flex flex-column ml-2 option-module-title">
                <div style="display: flex; align-items: center;">
                  <mat-icon class="icon-50">auto_mode</mat-icon><label style="font-size: 20px; font-weight: 700;">Subservicio</label>
                </div>
                <span class="description-module">Lista de gestores relacionados con las Actas</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-sm-12">
          <a class="option-module p-2">
            <div class="d-flex flex-row" style="justify-content: center">
              <div class="d-flex flex-column ml-2 option-module-title">
                <div style="display: flex; align-items: center;">
                  <mat-icon class="icon-50">move_up</mat-icon><label style="font-size: 20px; font-weight: 700;">Factura</label>
                </div>
                <span class="description-module">Lista de gestores relacionados con las Actas</span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-sm-12">
          <a class="option-module p-2">
            <div class="d-flex flex-row" style="justify-content: center">
              <div class="d-flex flex-column ml-2 option-module-title">
                <div style="display: flex; align-items: center;">
                  <mat-icon class="icon-50">token</mat-icon><label style="font-size: 20px; font-weight: 700;">Orden de Compra</label>
                </div>
                <span class="description-module">Lista de gestores relacionados con las Actas</span>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
