<div class="modal-title-inic mt-3">DPF/ALO</div>
<div class="cli-content">
  <div class="cli-card-body">
    <input
      id="ckh2h"
      (click)="filtrar(this)"
      type="button"
      style="height: 0px; width: 0px; visibility: hidden"/>
    <p *ngIf="!listDPF"><em>Cargado...</em></p>

    <!-- <div class="row">
      <div class="col-lg-6 col-12">
        <h3 style="font-size: 20px; font-weight: 500">DPF por Periodo</h3>
        <div class="chart-wrapper">
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h3 style="font-size: 20px; font-weight: 500">DPF por Proyecto</h3>
        <div style="display: block">
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [plugins]="barChartPlugins">
          </canvas>
        </div>
      </div>
    </div> -->

    <div>
      <div class="card" style="padding: 10px">
        <div
          class="card-header border-transparent"
          style="display: flex"
          class="mt-2 mb-1">
          <!-- <h3 class="card-title">
            <span style="font-weight: 600" id="titulo">Facturado :: ({{ sum | number: "5.2-2" }})</span>
          </h3> -->

          <div class="flex-1"></div>

          <button
            class="icon-btn btn-trans c-green-export"
            matTooltip="Exportar"
            type="button"
            (click)="exportToExcel()">
            <mat-icon class="icon-18">file_download</mat-icon>
          </button>
        </div>

        <div  style="overflow: auto; min-height: 298px; color: #6c757d;">
          <div class="cli-table stripedtable underlinedtable">
            <table class="cli-table stripedtable underlinedtable">
              <thead>
                <tr class="c-white">
                  <th>Proyecto</th>
                  <th>Total Corriente</th>
                  <th>Vencido [1-30]</th>
                  <th>Vencido [31-60]</th>
                  <th>Vencido [61-90]</th>
                  <th>Vencido [91-180]</th>
                  <th>Vencido [181-365]</th>
                  <th>Total</th>
                  <th>DPF Vencido Facturado</th>
                  <!-- <th>Saldo vencido</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dpf of listDPF | paginate: {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: totalFacturas
                          }">
                  <td>{{ dpf.proyecto }}</td>
                  <td style="font-weight: 700; font-size: 13px; text-align: right;">{{ filtrarPorPeriodo(obtenerPeriodoPorMes(),  'sum_vd', dpf.proyecto)| number: "3.2-2" }}</td>
                  <td style="font-weight: 700; font-size: 13px; text-align: right;">{{ filtrarPorPeriodo(obtenerPeriodoPorMes(1), 'sum_vd', dpf.proyecto)| number: "3.2-2" }}</td>
                  <td style="font-weight: 700; font-size: 13px; text-align: right;">{{ filtrarPorPeriodo(obtenerPeriodoPorMes(2), 'sum_vd', dpf.proyecto)| number: "3.2-2" }}</td>
                  <td style="font-weight: 700; font-size: 13px; text-align: right;">{{ filtrarPorPeriodo(obtenerPeriodoPorMes(3), 'sum_vd', dpf.proyecto)| number: "3.2-2" }}</td>
                  <td style="font-weight: 700; font-size: 13px; text-align: right;">{{ filtrarPorPeriodo(obtenerPeriodoPorMes(4), 'sum_vd', dpf.proyecto)| number: "3.2-2" }}</td>
                  <td style="font-weight: 700; font-size: 13px; text-align: right;">{{ filtrarPorPeriodo(obtenerPeriodoPorMes(5), 'sum_vd', dpf.proyecto)| number: "3.2-2" }}</td>
                  <!-- <td style="font-weight: 700; font-size: 13px; text-align: right;">{{ filtrarPorPeriodo(obtenerPeriodoPorMes(5), 'dpf', dpf.proyecto)| number: "3.2-2" }}</td> -->
                  <td>{{totalDPF(dpf.proyecto)   | number: "3.2-2" }}</td>
                  <td>{{ dpf.lider }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer pb-0 pt-3">
          <pagination-controls
            previousLabel="Anterior"
            nextLabel="Siguiente"
            [responsive]="false"
            (pageChange)="cambiarPagina($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
