<div class="modal-title-inic mt-3">DPF / ALO</div>

  <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
  <!-- <div class="card" style="border-radius: 2px; font-weight: 600">
    <div class="card-body" style="padding: 10px">
      <form class="row g-3" [formGroup]="filtroForm">
        <div class="col-sm-3 cli-form-element">
          <div class="form-group">
            <label>Fecha Periodo</label>
             <input
              type="month"
              class="form-control cli-input-white"
              formControlName="f_periodo"/>
          </div>
        </div>

        <div class="cli-form-buttons" style="margin-top: 8px">
          <button
            type="submit"
            class="cli-btn btn-m btn-cancel"
            style="border-radius: 2px; padding: 0.225rem 0.75rem"
            (click)="limpiarFiltro()"
            ><mat-icon class="icon-18">rotate_left</mat-icon>
            Limpiar
          </button>

          <button
            type="button"
            class="cli-btn btn-blue-light"
            style="border-radius: 2px; padding: 0.225rem 0.75rem"
            (click)="cargarOBuscarListVD()"
            ><mat-icon class="icon-18">search</mat-icon>
            Buscar
          </button>
        </div>
      </form>
    </div>
  </div> -->


<div class="cli-content">
  <div class="cli-card-body">
    <input id="ckh2h"
      (click)="filtrar(this)"
      type="button"
      style="height: 0px; width: 0px; visibility: hidden"/>
    <p *ngIf="!listDPF"><em>Cargando...</em></p>

    <!-- <div class="row">
      <div class="col-lg-6 col-12">
        <h3 style="font-size: 20px; font-weight: 500">DPF por Periodo</h3>
        <div class="chart-wrapper">
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h3 style="font-size: 20px; font-weight: 500">DPF por Proyecto</h3>
        <div style="display: block">
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [plugins]="barChartPlugins">
          </canvas>
        </div>
      </div>
    </div> -->

    <div>
      <ul class="tabs-container">
        <li (click)="onTabClick('Dpf')" [class.active]="activeTab == 'Dpf'" class="tab-link">DPF</li>
        <li (click)="onTabClick('Alo')" [class.active]="activeTab == 'Alo'" class="tab-link">ALO</li>
      </ul>
    </div>

    <div style="padding: 2px 2px" *ngIf="activeTab == 'Dpf'">
      <div class="card" style="padding: 10px">
        <div
          class="card-header border-transparent"
          style="display: flex"
          class="mt-2 mb-1"
        >
          <div class="flex-1"></div>
          <!-- <button
                  class="icon-btn btn-trans c-green-export"
                  matTooltip="Exportar"
                  type="button"
                  (click)="exportToExcel()">
                  <mat-icon class="icon-18">file_download</mat-icon>
                </button> -->
        </div>

        <div  style="overflow: auto; min-height: 298px; color: #6c757d;">
          <div>
            <table class="cli-table stripedtable underlinedtable">
              <thead>
                  <tr class="bgc-blue-light c-white">
                    <th>Proyecto</th>
                    <th style="text-align: end;">Total Corriente</th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">1-30   </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">31-60  </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">61-90  </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">91-180 </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">181-365</small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">> 365  </small></th>
                    <th style="min-width: 75px;">Total<br><small     style="font-size: 12px;">Vencido</small></th>
                    <th style="text-align: end;">TOTAL</th>
                  </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let x of listDPF">
                  <!-- <tr > -->
                  <tr *ngIf="dpfVencidos(x.proyecto) > 0 ">
                    <td style="color: #38ccbd;font-weight: 500;">{{ x.proyecto }}</td>
                    <td class="dpf">{{((dataDPF(x.proyecto, -1)>5)? (dataDPF(x.proyecto, -1)):'')| number:'1.2-2'}}</td> <!-- 1[1-30]-->
                    <td class="dpf">{{((dataDPF(x.proyecto, -2)>5)? (dataDPF(x.proyecto, -2)):'')| number:'1.2-2'}}</td> <!-- 2[31-60]-->
                    <td class="dpf">{{((dataDPF(x.proyecto, -3)>5)? (dataDPF(x.proyecto, -3)):'')| number:'1.2-2'}}</td> <!-- 3[61-90]-->
                    <td class="dpf">{{((dataDPF(x.proyecto, -4)>5)? (dataDPF(x.proyecto, -4)):'')| number:'1.2-2'}}</td> <!-- 3[61-90] Eliminar o cambiar por el 0-->
                    <td class="dpf">{{((dpf91_180(x.proyecto) > 5)? dpf91_180(x.proyecto )  :'' )| number:'1.2-2'}}</td> <!--[91-180] --> <!-- 456[91-180](E,F,M)-->
                    <td class="dpf">{{((dpf181_365(x.proyecto)> 5)? dpf181_365(x.proyecto)  :'' )| number:'1.2-2'}}</td>
                    <td class="dpf">{{((dpfMayor365(x.proyecto)>5)? dpfMayor365(x.proyecto) : '')| number:'1.2-2'}}</td>
                    <td style="font-weight: 700;color: #007bff;text-align: end;">{{dpfVencidos(x.proyecto) | number:'1.2-2' }}</td>
                    <td style="color: #000; font-weight: 600; text-align: end;">{{ dataDpfTOTAL(x.proyecto) | number:'1.2-2' }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>

            <!-- <table class="cli-table stripedtable underlinedtable">
              <thead>
                  <tr class="bgc-blue-light c-white">
                    <th>Proyecto</th>
                    <th style="text-align: end;">Total Corriente</th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">1-30   </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">31-60  </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">61-90  </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">91-180 </small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">181-365</small></th>
                    <th style="min-width: 75px;text-align: end;">Vencido <br><small  style="color: #ffffff;font-size: 10px;">> 365  </small></th>
                    <th style="min-width: 75px;">Total<br><small     style="font-size: 12px;">Vencido</small></th>
                    <th style="text-align: end;">TOTAL</th>
                  </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let x of listDPF">
                  <tr *ngIf="dpfVencidos(x.proyecto) > 0 ">
                    <td style="color: #38ccbd;font-weight: 500;">{{ x.proyecto }}</td>
                    <td class="dpf">{{(dataDPF(x.proyecto, -1)? (dataDPF(x.proyecto, -1)):'')| number:'1.2-2'}}</td>
                    <td class="dpf">{{(dataDPF(x.proyecto, -2)? (dataDPF(x.proyecto, -2)):'')| number:'1.2-2'}}</td>
                    <td class="dpf">{{(dataDPF(x.proyecto, -3)? (dataDPF(x.proyecto, -3)):'')| number:'1.2-2'}}</td>
                    <td class="dpf">{{(dataDPF(x.proyecto, -4)? (dataDPF(x.proyecto, -4)):'')| number:'1.2-2'}}</td>
                    <td class="dpf">{{(dpf91_180(x.proyecto)  ? dpf91_180(x.proyecto )  :'' )| number:'1.2-2'}}</td>
                    <td class="dpf">{{(dpf181_365(x.proyecto) ? dpf181_365(x.proyecto)  :'' )| number:'1.2-2'}}</td>
                    <td class="dpf">{{(dpfMayor365(x.proyecto)? dpfMayor365(x.proyecto) : '')| number:'1.2-2'}}</td>
                    <td style="font-weight: 700;color: #007bff;text-align: end;">{{dpfVencidos(x.proyecto) | number:'1.2-2' }}</td>
                    <td style="color: #000; font-weight: 600; text-align: end;">{{ dataTOTAL(x.proyecto) | number:'1.2-2' }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table> -->
          </div>
        </div>
      </div>
    </div>

    <div class="card" style="padding: 10px" *ngIf="activeTab == 'Alo'">
      <div
        class="card-header border-transparent"
        style="display: flex"
        class="mt-2 mb-1"
      >
        <div class="flex-1"></div>
        <!-- <button
                  class="icon-btn btn-trans c-green-export"
                  matTooltip="Exportar"
                  type="button"
                  (click)="exportToExcel()">
                  <mat-icon class="icon-18">file_download</mat-icon>
                </button> -->
      </div>

      <div  style="overflow: auto; color: #6c757d;">
        <div>
          <table class="cli-table stripedtable underlinedtable">
            <thead>
              <tr class="bgc-purple c-white">
                <th>Proyecto</th>
                <th style="text-align: end;">Total Corriente</th>
                <th style="min-width: 75px;text-align: end;">Vencido<br><small style="color: #ffffff;font-size: 10px;">1-30   </small></th>
                <th style="min-width: 75px;text-align: end;">Vencido<br><small style="color: #ffffff;font-size: 10px;">31-60  </small></th>
                <th style="min-width: 75px;text-align: end;">Vencido<br><small style="color: #ffffff;font-size: 10px;">61-90  </small></th>
                <th style="min-width: 75px;text-align: end;">Vencido<br><small style="color: #ffffff;font-size: 10px;">91-180 </small></th>
                <th style="min-width: 75px;text-align: end;">Vencido<br><small style="color: #ffffff;font-size: 10px;">181-365</small></th>
                <th style="min-width: 75px;text-align: end;">Vencido<br><small style="color: #ffffff;font-size: 10px;">> 365  </small></th>
                <th style="min-width: 75px;text-align: end;">Total  <br><small style="font-size: 12px;">Vencido</small></th>
                <th style="min-width: 75px;text-align: end;">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let x of listDPF">
                <tr *ngIf="aloVencidos(x.proyecto)">
                    <td style="color: #38ccbd;font-weight: 500;" >{{ x.proyecto }}</td>
                    <td class="dpf" style="color: #122a2c">{{((dataDPF(x.proyecto, -1)<0)? dataDPF(x.proyecto, -1): '')| number:'1.2-2'}}</td>
                    <td class="dpf">{{((dataDPF(x.proyecto, -2)<0)? dataDPF(x.proyecto, -2):'') | number:'1.2-2'}}</td> <!-- 1[1-30] JUL-->
                    <td class="dpf">{{((dataDPF(x.proyecto, -3)<0)? dataDPF(x.proyecto, -3):'') | number:'1.2-2'}}</td> <!-- 2[31-60] JUN-->
                    <td class="dpf">{{((dataDPF(x.proyecto, -4)<0)? dataDPF(x.proyecto, -4):'') | number:'1.2-2'}}</td> <!-- 3[61-90] MAY-->
                    <td class="dpf">{{((alo91_180(x.proyecto  )<0)? alo91_180(x.proyecto ): '') | number:'1.2-2'}}</td>
                    <td class="dpf">{{((alo181_365(x.proyecto )<0)? alo181_365(x.proyecto): '') | number:'1.2-2'}}</td>
                    <td class="dpf">{{((aloMayor365(x.proyecto)<0)? aloMayor365(x.proyecto): '')| number:'1.2-2'}}</td>
                    <td style="font-weight: 700;color: #007bff;text-align: end;">{{(aloVencidos(x.proyecto)? aloVencidos(x.proyecto): '') | number:'1.2-2' }}</td>
                    <td style="color: #000; font-weight: 600; text-align: end;">{{ dataAloTOTAL(x.proyecto) | number:'1.2-2' }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

