<div class="modal-title-inic mt-5">Dashoard Haros</div>
<div>
  <iframe
    width="100%"
    height="1200"
    src="https://app.powerbi.com/view?r=eyJrIjoiYTNmMjRkOTYtMGNiYS00OTRlLWEyODEtYTJiZTY5YmYxMjM5IiwidCI6ImZkOTdiNTZlLWIzODctNGM3Yy1iMjAyLWJjNDliMDNiNDk5MyJ9"

    frameborder="0"
    ></iframe>
  </div>

  <!-- POWER BI - CON CREDENCIALES -->
  <!-- src="https://app.powerbi.com/reportEmbed?reportId=81636f72-0a52-42fc-b156-ed5359c8c8c9&autoAuth=true&ctid=fd97b56e-b387-4c7c-b202-bc49b03b4993" -->

