<div class="cli-modalclose mt-2">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="modal-title c-male">Registro de gestores</div>
    <div>
      <!-- BUSCADOR POR FILTRO ---------------------------------------------------------------->
      <form [formGroup]="gestorForm">
        <div class="card" style="border-radius: 2px">
          <div class="row g-3 card-body" style="padding: 10px">
            <div class="cli-form-element col-f-4">
              <label>Gestor</label>
              <select formControlName="idGestor" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="gestor.id" *ngFor="let gestor of listGestorCombo">{{gestor.nombre}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Proyectos</label>
              <select formControlName="proyecto" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="proy.codigoProyecto" *ngFor="let proy of listProyectos">{{proy.codigoProyecto}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Subservicios</label>
              <select formControlName="subservicio" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="subs.nombre" *ngFor="let subs of listSubservicios">{{subs.nombre}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Estado</label>
              <select formControlName="estado" class="cli-input">
                <option [value]="10" disabled>-Seleccione-</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>

            <div class="cli-form-buttons" style="margin-top: 8px">
              <button
                type="submit"
                class="cli-btn btn-m btn-regresar"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="limpiarFiltro()">
                <mat-icon class="icon-18">rotate_left</mat-icon>Limpiar
              </button>

              <button
                type="button"
                class="cli-btn btn-blue-light"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="getAllGestorFiltro()"
                ><mat-icon class="icon-18">search</mat-icon>
                Buscar
              </button>
            </div>
          </div>
        </div>

        <!-- BOTON MODAL PARA CREAR GESTOR ----------------------------------------------------->
        <div style="display: flex" class="mt-4 mb-1">
          <button
            class="cli-btn btn-turq"
            [disabled]="gestorForm.invalid"
            (click)="abrirModalCrearOactualizar()">
            <mat-icon class="icon-18">add</mat-icon> Crear gestor
          </button>

          <div class="flex-1"></div>
          <div class="mt-2" style="color: #345df3; font-weight: 600">
            Total : <span class="total">{{ listGestores.length }} Gestores</span>
          </div>
        </div>
      </form>

      <!-- TABLA DE GESTORES ------------------------------------------------------------------>
      <div style="overflow: auto; min-height: 372px; color: #6c757d">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-blue-light c-white">
              <th class="w50">Acción</th>
              <th style="min-width: 150px">Gestor.</th>
              <th>Correo</th>
              <th style="min-width: 240px">Proyectos</th>
              <th style="min-width: 115px">Subservicios</th>
              <th style="min-width: 108px">Actualizado por</th>
              <th style="min-width: 145px">Fecha inicio - fecha fin</th>
              <th style="min-width: 92px" >Estado</th>
              <th style="min-width: 100px">Fecha creación</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let gestor of listGestores | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: totalGestor }">
              <td>
                <div class="moad-actions">
                  <button
                    matTooltip="Editar gestor"
                    (click)="abrirModalCrearOactualizar(gestor)"
                    class="icon-btn btn-trans c-yellow"
                    ><mat-icon class="icon-15">drive_file_rename_outline</mat-icon>
                  </button>

                  <button
                    matTooltip="Eliminar gestor"
                    (click)="eliminarGestor(gestor)"
                    class="icon-btn btn-trans c-red">
                    <mat-icon class="icon-15">delete_forever</mat-icon>
                  </button>
                </div>
              </td>
              <td style="text-align: left">{{ gestor.nombres}} {{ gestor.apellidos}}</td>
              <td style="text-align: left">{{ gestor.correo }}</td>
              <td>
                <span *ngIf="gestor.proyectos" class="label ">{{ gestor.proyectos | uppercase }}</span>
              <td style="min-width: 240px; text-align: left" >{{ gestor.subservicios }}</td>
              <td style="text-align: left; color: #7287fd" >{{ gestor.usuarioActualiza? gestor.usuarioActualiza.usuario: '-' }}</td>
              <td style="text-align: left" *ngIf="gestor.fecha_Fin == 'Actual'">{{ gestor.fecha_inicio | date:'dd/MM/yyyy' }} -  Actual</td>
              <td style="text-align: left" *ngIf="gestor.fecha_Fin != 'Actual'">{{ gestor.fecha_inicio | date:'dd/MM/yyyy' }} -  {{ gestor.fecha_Fin | date:'dd/MM/yyyy' }}</td>
              <td class="moad-module">
                <mat-icon matTooltip="Activo" [ngClass]="{ 'c-green_x': gestor.estado.estadoId == 1, 'c-red': gestor.estado.estadoId != 1 }" class="icon-18">report</mat-icon>
              </td>
              <td style="text-align: left">{{ gestor.fechaCreacion | date:'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
        </table>

        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>cargando...
        </div>

        <div
          *ngIf="!loadingItem && listGestores.length == 0"
          class="cli-loader mt-5"
          style="color: #f83434">
          No hay gestores para mostrar
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)">
      </pagination-controls>
    </div>
  </div>

  <div class="cli-form-buttons" style="margin-top: 5%">
    <button class="cli-btn btn-m btn-regresar"
            type="submit" (click)="close()">
            <mat-icon class="icon-18">keyboard_return</mat-icon> Regresar
    </button>
</div>
