<div style="display: flex;">
  <div class="flex-1"></div>
  <div class="modal-title c-male">Crear vacaciones</div>
  <div class="flex-1"></div>

  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form class="row g-3" [formGroup]="vacacionesForm">
  <div class="cli-form newvac-wrapper">
    <div class="chart-draw">
      <!-- REGISTROS DEL PERSONAL-------------------------------------------------------------------- -->
      <div style="display: flex; background-color: #f6f3f3;">
        <div class="pr-subtitle">Datos del personal</div>
        <div class="flex-1"></div>
          <button class="btn-asignar btn-grey"  matTooltip="Agregar personal" type="submit" style="color: #4a93ff; margin-right: 6px;" (click)="asignarPersonal()">
            <mat-icon class="icon-13">add</mat-icon><mat-icon class="icon-13">person</mat-icon>
          </button>
      </div>

      <div class="pr-section mt-2">
        <div class="pr-module-containerXZ">
          <div class="row" style="justify-content: space-between;">
            <!-- account_circle / sensor_occupied-->
            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>workspaces</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['codCorp'].value}}</div>
            </div>

            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>person</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['nombre'].value | uppercase}} {{vacacionesForm.controls['apPaterno'].value | uppercase}} {{vacacionesForm.controls['apMaterno'].value | uppercase}}</div>
            </div>

            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>category</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['proyecto'].value}}</div>
            </div>

            <div class="input-group col-sm-4">
              <div class="input-group-text"><mat-icon>calendar_month</mat-icon></div>
              <div class="info">{{vacacionesForm.controls['fecha_ingreso'].value}}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div *ngIf="!loadingItem"
              class="cli-loader"
              style="color: #c9c9c9"
              >Aún no hay personal registrado
     </div> -->

      <!-- REGISTRO DE VACACIONES ------------------------------------------------------------------------->
      <div class="pr-subtitle mt-2">Registro de vacaciones</div>
      <div class="pr-section mb-3">
        <div class="pr-module-container">
          <div class="row g-3">
            <div class="col-sm-3 cli-form-element">
              <label>Sistema</label>
              <select class="cli-input-white" formControlName="idSistema">
                <option [value]="0" disabled>- Seleccione -</option>
                <option [value]="sistema.id_correlativo" *ngFor="let sistema of listSistemaVacaciones">{{sistema.valor_texto_1}}</option>
              </select>
            </div>

            <!-- <div class="col-sm-3 cli-form-element ">
              <label>Fecha de incio</label>
              <div class="form-group">
                <input type="date"
                  class="form-control cli-input-white calendario"
                  formControlName="fechaInicVac"/>
              </div>
            </div>

            <div class="col-sm-3 cli-form-element">
              <div class="form-group">
                <label>Fecha de fin</label>
                <input
                  type="date"
                  class="form-control cli-input-white"
                  formControlName="fechaFinVac"/>
              </div>
            </div> -->

            <!-- <mat-form-field appearance="fill">
              <mat-label>Inserte el rago de Vacaciones</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field> -->
          <div class="col-sm-4 cli-form-elementxx">
            <label>FECHA X</label>
            <!-- <label for="" class="col-form-label col-sm-2">Fecha Inici v</label> -->
            <div class="form-group row">
              <div class="col-sm-4zx" style="display:flex">
                <input class="form-control"
                [matDatepicker]="myPicker"
                formControlName="fechaFinVac"/>
                <mat-datepicker-toggle [for]="myPicker"></mat-datepicker-toggle>
                <mat-datepicker #myPicker></mat-datepicker>
              </div>
            </div>
          </div>


            <div class="col-sm-12xx">
            <mat-form-field appearance="fill">
              <mat-label>Días de Vacaciones</mat-label>
              <mat-date-range-input [formGroup]="vacacionesForm" [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicVac" placeholder="Inicio vacaciones">
                <input matEndDate formControlName="fechaFinVac" placeholder="Final de vacaciones">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-error *ngIf="vacacionesForm.controls['fechaInicVac'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="vacacionesForm.controls['fechaFinVac' ].hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
          </div>


            <!-- <p>Selected range: {{vacacionesForm.value | json}}</p> -->

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Total días vacaciones</label>
              <input
                style="font-weight: 600; text-align:center"
                type="number"
                readonly="true"
                class="form-control"
                formControlName="total_dias_vac"
                />
            </div>

            <!-- <div class="col-sm-3 cli-form-element">
              <mat-form-field>
                 <input matInput [matDatepicker]="picker2"
                  placeholder="Fecha inicio" required formControlName="fechaInicVac" />
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
              </mat-form-field>
            </div>

            <div class="col-sm-3 cli-form-element">
              <mat-form-field>
                 <input matInput [matDatepicker]="picker"
                  placeholder="Fecha fin" required formControlName="fechaFinVac" />
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              </mat-form-field>
            </div> -->

            <!-- <div class="col-sm-3 cli-form-element">
              <label>Estado *</label>
              <select class="cli-input-white" formControlName="id_estado_vac">
                <option [value]="0" disabled>- Seleccione -</option>
                <option [value]="estado.id_correlativo" *ngFor="let estado of listEstadoVacacionesAprobadas">{{estado.valor_texto_1}}</option>
              </select>
                <small class="form-text text-alert" *ngIf="campoNoValido('id_estado_vac')">* Ingrese el Estado es obligatorio</small>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------BOTONES ------------------------------------------->
    <div class="cli-form-buttons">
      <button class="cli-btn btn-m btn-cancel" type="submit" (click)="close()">
        <mat-icon class="icon-18">cancel</mat-icon> Cancelar
      </button>
      <button class="cli-btn btn-m btn-blue"
        [disabled]="vacacionesForm.invalid"
        (click)="crearVacaciones()">
        <mat-icon class="icon-18">save</mat-icon> Registrar
      </button>
    </div>
  </div>
</form>
