<div class="modal-title-inic mt-5">Liquidaciones activas</div>
<div class="cli-content">
  <div class="cli-card-body">
    <input
    id="ckh2h"
    (click)="filtrar(this)"
    type="button"
    style="height: 0px; width: 0px; visibility: hidden"/>
  <p *ngIf="!resultadoV"><em>Cargango...</em></p>

  <div class="row" style="justify-content: space-around;">
    <div class="col-lg-6 col-12 canvas">
      <h3 style="font-size: 20px; font-weight: 500">Liquidaciones activas por Lider</h3>

      <div class="chart-wrapper">
        <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          [chartType]="pieChartType">
        </canvas>
      </div>
    </div>

    <div class="col-lg-6 col-12 canvas">
      <h3 style="font-size: 20px; font-weight: 500">Liquidaciones activas por Periodo</h3>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [plugins]="barChartPlugins"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>

  <div>
    <div class="card mt-5" style="padding: 10px">
      <div class="card-header border-transparent" style="display: flex" class="mt-2 mb-1">
        <h3 class="card-title">
          <span style="font-weight: 600;" id="titulo">Pendiente de Facturar :: ({{ sum | number: "5.2-2" }})</span>
        </h3>
        <div class="flex-1"></div>
          <button
            class="icon-btn btn-trans c-green-export"
            matTooltip="Exportar"
            type="button" (click)="exportToExcel()">
            <mat-icon class="icon-18">file_download</mat-icon>
          </button>
      </div>

      <div style="overflow: auto; min-height: 430px; color: #6c757d;">
        <div class="cli-table stripedtable underlinedtable">
          <table id="tbRes" class="cli-table stripedtable underlinedtable">
            <thead>
              <tr class="c-white">
                <th>Proyecto</th>
                <th>Lider</th>
                <th>Periodo</th>
                <th>Sub Servicio</th>
                <th>Estado</th>
                <th>Importe</th>
                <th>Facturado</th>
                <th>DPF/ALO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cate of resultadoV | paginate:
              { itemsPerPage: pageSize,
                currentPage : page,
                totalItems  : totalFacturas
              } ">
                <td>{{ cate.proyecto }}<!-- <a [routerLink]="['/detail']" [queryParams]="{id: cate.codigo_solicitud}">{{ cate.codigo }}</a> --></td>
                <td style="text-align: left;">{{ cate.lider       }}</td>
                <td>{{ cate.periodo     }}</td>
                <td style="text-align: left;">{{ cate.subservicio }}</td>
                <td>{{ cate.estado      }}</td>
                <td>{{ cate.importe | number: "3.2-2" }}</td>
                <td>{{ cate.monto_facturado? cate.monto_facturado : '' | number: "3.2-2" }}</td>
                <td>{{ cate.monto_facturado - cate.importe | number: "3.2-2" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer pb-0 pt-3">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [responsive]="false"
          (pageChange)="cambiarPagina($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
  </div>
</div>

