<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="cli-title-center c-male">Configuración de módulos</div>
    <div class="modules-actions">
      <button (click)="showing = 1" [ngClass]="{ 'btn-turq': showing == 1, 'btn-trans': showing != 1 }"class="cli-btn">Menús</button>
      <button (click)="showing = 2" [ngClass]="{ 'btn-turq': showing == 2, 'btn-trans': showing != 2 }"class="cli-btn">Segmentos</button>
      <button (click)="showing = 3" [ngClass]="{ 'btn-turq': showing == 3, 'btn-trans': showing != 3 }"class="cli-btn">Funcionalidades</button>
    </div>

    <app-module-menus *ngIf="showing == 1"></app-module-menus>
    <app-users-table *ngIf="showing == 2"></app-users-table>
    <app-users *ngIf="showing == 3"></app-users>
  </div>
</div>
