<div class="cli-modalclose mt-2">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="modal-title c-male">Registro de proyectos</div>
    <div>
      <form [formGroup]="proyectoForm">
        <div class="card" style="border-radius: 2px">
          <div class="row g-3 card-body" style="padding: 10px">
            <div class="cli-form-element col-f-4">
              <label>Proyectos</label>
              <select formControlName="codigo_proyecto" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="proy.codigoProyecto" *ngFor="let proy of listProyectosCombo">{{proy.codigoProyecto}}</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Jefatura</label>
              <select formControlName="jefatura" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="jef.idJefatura" *ngFor="let jef of listJefaturas">{{jef.nombre}}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('jefatura')">* Seleccione la jefatura es obligatorio</small>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Cliente</label>
              <select formControlName="cliente" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="cliente.razon_social" *ngFor="let cliente of listClientesCombo">{{cliente.razon_social}}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('cliente')">* Seleccione el Cliente es obligatorio</small>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Estado</label>
              <select formControlName="id_estado" class="cli-input">
                <option [value]="0" disabled>-Seleccione-</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>

            <div class="cli-form-buttons" style="margin-top: 8px">
              <button
                type="submit"
                class="cli-btn btn-m btn-regresar"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="limpiarFiltro()">
                <mat-icon class="icon-18">rotate_left</mat-icon>
                Limpiar
              </button>

              <button
                type="button"
                class="cli-btn btn-blue-light"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="getAllProyectosFiltro()"
                ><mat-icon class="icon-18">search</mat-icon>
                Buscar
              </button>
            </div>
          </div>
        </div>

        <div style="display: flex" class="mt-4 mb-1">
          <button
            class="cli-btn btn-m btn-turq"
            [disabled]="proyectoForm.invalid"
            (click)="abrirModalCrearOactualizar()">
            <mat-icon class="icon-18">add</mat-icon> Crear proyecto
          </button>

          <div class="flex-1"></div>
          <div class="mt-2" style="color: #345df3; font-weight: 600">
            Total : <span class="total">{{ listProyectosFiltro.length }} Proyectos</span>
          </div>
        </div>
      </form>

      <div style="overflow: auto; min-height: 371px; color: #6c757d">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-blue-light c-white">
              <th>Acción</th>
              <th>Proyecto</th>
              <th style="min-width: 350px" >Descripción</th>
              <th style="min-width: 110px;">Líder</th>
              <th style="min-width: 100px;">Código Jira</th>
              <th style="min-width: 120px" >Jefatura</th>
              <th style="min-width: 100px" >Reemplaza a:</th>
              <th style="min-width: 105px" >Código contrato</th>
              <th style="min-width: 100px" >Tipo</th>
              <th style="min-width: 310px" >Cliente(s)</th>
              <th style="min-width: 92px"  >Estado</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let proy of listProyectosFiltro | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: totalProyecto }">
              <td>
                <div class="moad-actions">
                  <button
                    matTooltip="Editar proyecto"
                    (click)="abrirModalCrearOactualizar(proy)"
                    class="icon-btn btn-trans c-yellow"
                    ><mat-icon class="icon-15">drive_file_rename_outline</mat-icon>
                  </button>

                  <button
                    matTooltip="Eliminar proyecto"
                    (click)="eliminarProyecto(proy)"
                    class="icon-btn btn-trans c-red">
                    <mat-icon class="icon-15">delete_forever</mat-icon>
                  </button>
                </div>
              </td>
              <td>{{ proy.codigoProyecto }}</td>
              <td style="text-align: left;"  >{{ proy.nombreDescriptivo     }}</td>
              <td style="text-align: center;">{{ proy.lider.lider           }}</td>
              <td style="text-align: left;"  >{{ proy.codigoJira | uppercase}}</td>
              <td style="text-align: left;"  >{{ proy.jefatura.jefatura     }}</td>
              <td style="text-align: center;">{{ proy.reemplazaA            }}</td>
              <td style="text-align: left;"  >{{ proy.codigoContrato        }}</td>
              <td style="text-align: left;"  >{{ proy.tipo                  }}</td>
              <td style="text-align: left;"  >{{ proy.cliente.razon_social  }}</td>
              <td class="moad-module">
                <mat-icon [ngClass]="{ 'c-green_x': proy.estado.estadoId == 1, 'c-red': proy.estado.estadoId != 1 }" class="icon-18">report</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>cargando...
        </div>

        <div
          *ngIf="!loadingItem && listProyectosFiltro.length == 0"
          class="cli-loader mt-5"
          style="color: #f83434">
          No hay proyectos para mostrar
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)">
      </pagination-controls>
    </div>
  </div>

  <div class="cli-form-buttons">
    <button class="cli-btn btn-m btn-regresar"
            type="submit" (click)="close()">
            <mat-icon class="icon-18">keyboard_return</mat-icon> Regresar
    </button>
</div>




<!-- <div class="row">
  <div class="col">
    <mat-label> Search customer with form control</mat-label>
    <mat-chip-list>
      <mat-chip *ngFor="let customer of selectedCustomers">{{customer.custName}}
        <i class="material-icons" (click)="removeCustomer(customer)">close</i>
      </mat-chip>

      <input type="text" matInput [formControl]="searchCtrl" [matAutocomplete]="customerSugessionPanelRef"
        placeholder="Search more customer here..."/>
    </mat-chip-list>

    <mat-autocomplete #customerSugessionPanelRef="matAutocomplete" (optionSelected)="onOptionSelect($event)">
      <mat-option [value]="customer" *ngFor="let customer of customers$ | async">{{customer.custName}}</mat-option>
    </mat-autocomplete>
  </div>
</div> -->
