/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.c-green-export {
  color: #029d55;
  border: solid 0.5px #029d55;
}

.btn-logout {
  border: solid 1px #00bcd4;
  border-radius: 20px;
  margin: 0 5px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

// ESTILOS GLOBALES
.label {
  padding: 2px 6px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%;
  background-color: #398bf7;
}

.text-alert {
  font-size: 9px;
  color: #f66d7a;
  margin-top: 0;
}

.est-visado {
  background-color: #d6ccff;
  padding: 2.5px 11px;
  color: #5f5d5d;
}

.est-cargado {
  background-color: #0d6efd;
  padding: 2.5px 8px;
  color: #fff;
}

.est-facturado {
  background-color: #96faec;
  padding: 2.5px 11px;
  color: #6c757d;
}

.modal-title-inic {
  font-size: 1.7rem;
  font-weight: 400;
  color: #007bff;
  margin: 10px 0;
  text-align: center;
}

.mat-datepicker-content .mat-calendar {
  width: 235px;
  height: 270px;
}

.canvas {
  display: block;
  height: 220px;
  width: 440px;
}
