<div class="cli-modalclose">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-form mt-3">
  <div class="cli-form-title c-male" style="margin-bottom: 20px">{{ DATA_ORDENCOMPRA ? "Actualizar" : "Crear" }} orden de compra</div>

  <div class="pr-subtitle">Data Orden compra</div>
    <div class="pr-section">
      <div class="pr-module-container mb-2">
        <form class="row g-3" [formGroup]="ordencompraForm">
          <div class="cli-form newvac-wrapper">
            <div class="row g-3">
              <div class="cli-form-element col-f-3">
                <label>N° Orden de compra <small style="color: red">*</small></label>
                <input
                  class="cli-input"
                  formControlName="nro_orden"
                  type="text"/>
                  <small class="form-text text-alert" *ngIf="campoNoValido('nro_orden')">* Ingrese la Orden de compra es obligatorio</small>
              </div>

              <div class="cli-form-element col-f-3" *ngIf="DATA_ORDENCOMPRA">
                <label>N° Certificación</label>
                <input
                  class="cli-input_x"
                  formControlName="certificaciones"
                  type="text"/>
              </div>

              <div class="cli-form-element col-f-3" *ngIf="DATA_ORDENCOMPRA">
                <label>Proyecto(s)</label>
                <input
                  class="cli-input_x"
                  formControlName="proyecto"
                  type="text"/>
              </div>

              <div class="cli-form-element col-f-3">
                <label>Monto <small style="color: red">*</small></label>
                <input
                  class="cli-input"
                  formControlName="monto"
                  type="text"/>
                  <small class="form-text text-alert" *ngIf="campoNoValido('monto')">* Ingrese el Monto es obligatorio</small>
              </div>

              <div class="cli-form-element col-f-3">
                <label>Moneda</label>
                <input
                  class="cli-input"
                  formControlName="moneda"
                  type="text"/>
              </div>

              <ng-container *ngIf="this.DATA_ORDENCOMPRA">
                <div class="cli-form-element col-f-3">
                  <label>Estado</label>
                  <select formControlName="id_estado" class="cli-input_x">
                    <option [value]="10" disabled>-Seleccione-</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                </div>
              </ng-container>
            </div>
          </div>
        </form>
      </div>
    </div>

    <ng-container *ngIf="DATA_ORDENCOMPRA">
      <div class="pr-subtitle">Certificaciones</div>
        <div class="pr-section">
          <div class="pr-module-container mb-2">
            <div style="display: flex">
              <div style="background-color: #f6f3f3">
                <button
                  class="btn-asignar btn-grey mb-1"
                  matTooltip="Asignar certificación"
                  type="submit"
                  (click)="abrirModalCrearOactualizar(DATA_ORDENCOMPRA)">
                  <mat-icon class="icon-18">add</mat-icon>
                </button>
              </div>

              <div class="flex-1"></div>
              <div class="mt-1" style="color: #345df3; font-weight: 400" *ngIf="listOcCertificaciones.length > 0">
                Total : <span class="total">{{ listOcCertificaciones.length }} Certificaciones</span>
              </div>
            </div>

            <div style="overflow: auto; min-height: 50px; max-height: 167px; color: #6c757d">
              <div *ngIf="listOcCertificaciones.length > 0">
                <table class="cli-table_x stripedtable underlinedtable">
                  <thead>
                    <tr class="bgc-green c-white">
                      <th style="min-width: 35px">Acción</th>
                      <th style="min-width: 100px">N° Certificación</th>
                      <th>Proyecto(s)</th>
                      <th>Moneda</th>
                      <th style="min-width: 116px;">Estado Factura</th>
                      <th>Estado</th>
                      <th style="min-width: 116px;">Monto total</th>
                      <th style="min-width: 116px;">Monto Disponible</th>
                      <th style="min-width: 116px;">Actualizado por:</th>
                      <th style="min-width: 116px;">Fecha creación</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let oc of listOcCertificaciones;let i = index">
                      <td>
                        <div class="moad-actions" style="justify-content: left; display: flex;">
                          <button
                          matTooltip="Actualizar"
                          (click)="abrirModalCrearOactualizar(oc)"
                            class="icon-btn btn-trans"
                            style="color: #69aafa">
                            <mat-icon class="icon-15">drive_file_rename_outline</mat-icon>
                          </button>

                          <button
                            (click)="eliminarCertificacion(oc)"
                            matTooltip="Eliminar"
                            class="icon-btn btn-trans b-fucsia">
                            <mat-icon class="icon-15">delete_forever</mat-icon>
                          </button>
                        </div>
                      </td>
                      <!-- <td>{{ cert.idDetalleCertificacion }}</td> -->
                      <td>{{ oc.nro_certificacion        }}</td>
                      <td>{{ oc.proyecto.codigo_proyecto }}</td>
                      <td>{{ oc.moneda                   }}</td>
                      <td>{{ oc.estadoFactura            }}</td>
                      <td>{{ oc.estado.estado            }}</td>
                      <td>{{ oc.valorTotal               }}</td>
                      <td>{{ oc.valorDisponible          }}</td>
                      <td style="color:#007bff">{{ oc.usuarioActualiza.usuario }}</td>
                      <td>{{ oc.fecha_creacion | date:'dd/MM/yyyy' }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="cli-loader" *ngIf="loadingItem">
                  <mat-spinner
                    style="margin-right: 20px"
                    diameter="20"
                  ></mat-spinner
                  >cargando...
                </div>
              </div>
              <div
                *ngIf="!loadingItem && listOcCertificaciones.length == 0"
                class="cli-loader mt-2"
                style="color: #c9c9c9; font-size: 12px">
                Aún no existen CERTIFICACIONES ...
              </div>
            </div>
        </div>
      </div>
      </ng-container>

  <div class="cli-form-buttons">
    <button class="cli-btn btn-m btn-regresar"
            type="submit" (click)="close()">
            <mat-icon class="icon-18">cancel</mat-icon> Cancelar
    </button>

    <button class="cli-btn btn-m btn-turq"
            [disabled]="ordencompraForm.invalid"
            (click)="crearOactualizarOrdenCompra()">
            <mat-icon class="icon-18">save</mat-icon> {{actionBtn}}
    </button>
  </div>
</div>

