<div class="cli-modalclose">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-form mt-3">
  <div class="cli-form-title c-male" style="margin-bottom: 20px">{{ DATA_ORDENCOMPRA ? "Actualizar" : "Crear" }} orden de compra</div>

  <form class="row g-3" [formGroup]="ordencompraForm">
    <div class="cli-form newvac-wrapper">
      <div class="row g-3">
        <div class="cli-form-element col-f-3">
          <label>N° Orden de compra <small style="color: red">*</small></label>
          <input
            class="cli-input"
            formControlName="nro_orden"
            type="text"/>
            <small class="form-text text-alert" *ngIf="campoNoValido('nro_orden')">* Ingrese la Orden de compra es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3">
          <label>Monto <small style="color: red">*</small></label>
          <input
            class="cli-input"
            formControlName="monto"
            type="text"/>
            <small class="form-text text-alert" *ngIf="campoNoValido('monto')">* Ingrese el Monto es obligatorio</small>
        </div>

        <div class="cli-form-element col-f-3">
          <label>N° Certificación</label>
          <input
            class="cli-input"
            formControlName="certificaciones"
            type="text"/>
        </div>

        <ng-container *ngIf="this.DATA_ORDENCOMPRA">
          <div class="cli-form-element col-f-3">
            <label>Estado</label>
            <select formControlName="id_estado" class="cli-input_x">
              <option [value]="0" disabled>-Seleccione-</option>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>

          <div class="cli-form-element form-group col-f-3">
            <label>Fecha creación</label>
             <input
              style="padding: 0.175rem .75rem;"
              type="date"
              class="form-control"
              formControlName="fecha_creacion"/>
          </div>
        </ng-container>
      </div>

      <div class="cli-form-buttons" style="margin-top: 8%">
        <button class="cli-btn btn-m btn-regresar"
                type="submit" (click)="close()">
                <mat-icon class="icon-18">cancel</mat-icon> Cancelar
        </button>

        <button class="cli-btn btn-m btn-turq"
                [disabled]="ordencompraForm.invalid"
                (click)="crearOactualizarOrdenCompra()"
                >
                <mat-icon class="icon-18">save</mat-icon> {{actionBtn}}
        </button>
      </div>
    </div>
  </form>
</div>

