tr.mat-row.cdk-row {
  height: 10px;
}

.c-green-export {
  color: #029d55;
  // border: solid 0.5px #029d55;
}

.cli-table {
  width: 100%;
  background-color: #fff;
  & th {
    // padding: 4px;
    background: #93d9d9;
    font-weight: 500;
    text-align: center;
    color: #565656;
  }
  & td {
    vertical-align: middle;
    font-size: 11px; // cambio actualizado
  }
}
