<div class="cli-modalclose">
  <mat-icon class="icon-20" matTooltip="Cerrar" (click)="dialogRef.close()">close</mat-icon>
</div>

<div class="cli-form mt-3">
  <div class="cli-form-title c-male mt-3">{{ "Crear" }} acta</div>

  <form class="row g-3" [formGroup]="actasForm">
    <div class="cli-form newvac-wrapper">
      <div class="chart-draw">
        <div class="pr-subtitle mt-2">Datos agrupación</div>
        <div class="pr-section mb-1">
          <div class="pr-module-container row g-3">
            <div class="cli-form-element col-f-4">
              <label>Gestor <small style="color: red">*</small></label>
              <select formControlName="idGestor" class="cli-input_x">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="gestor.idGestor" *ngFor="let gestor of listGestores">{{ gestor.nombreCompleto }}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('idGestor')">* Ingrese el Gestor es obligatorio</small>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Proyecto <small style="color: red">*</small></label>
              <select formControlName="idProyecto" class="cli-input_x">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="proy.idProyecto" *ngFor="let proy of listProyectos">{{ proy.codigo_proyecto }}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('idProyecto')">* Ingrese el Proyecto es obligatorio</small>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Subservicio <small style="color: red">*</small></label>
              <select formControlName="idSubservicio" class="cli-input_x">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="subs.idSubservicio" *ngFor="let subs of listSubservicios">{{ subs.nombreCompleto }}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('idSubservicio')">* Ingrese el Subservicio es obligatorio</small>
            </div>

            <div class="cli-form-element col-f-4">
                <label>Periodo <small style="color: red">*</small></label>
                 <input
                  type="month"
                  class="cli-input_x"
                  formControlName="periodo"/>
              <small class="form-text text-alert" *ngIf="campoNoValido('periodo')">* Ingrese el Periodo es obligatorio</small>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Estado</label>
              <select formControlName="idEstado" class="cli-input_x">
                <option [value]="100" disabled>-Seleccione-</option>
                <option value="1">Completado</option>
                <option value="2">Pendiente</option>
              </select>
            </div>

            <div class="cli-form-element col-f-4">
              <label>Enlace</label>
              <input class="cli-input_x" formControlName="enlaceAta" type="text" />
            </div>

            <div class="cli-form-element col-f-2">
              <label>Comentario</label>
              <textarea
                class="cli-input_x"
                style="background-image: none;border-color: #bdbdbd;font-size: 12px;"
                rows="1"
                placeholder="Escriba algún comentario del Sub Acta..."
                formControlName="comentario"
              ></textarea>
            </div>
          </div>
        </div>

          <div class="pr-subtitle mt-1">Detalle Acta</div>
          <div class="pr-section mb-1">
            <div class="pr-module-container cli-card fit-card ">
                  <div class="cli-form newvac-wrapper" class="row g-3">
                    <ng-container formGroupName="detalleActaParams">
                      <div class="cli-form-element col-f-4">
                        <label>Analista <small style="color: red">*</small></label>
                        <input
                          class="cli-input"
                          formControlName="analista"
                          type="text"/>
                          <small class="form-text text-alert" *ngIf="campoNoValido('analista')">* Ingrese el Analista es obligatorio</small>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Perfil <small style="color: red">*</small></label>
                        <input
                          class="cli-input"
                          formControlName="perfil"
                          type="text"/>
                          <small class="form-text text-alert" *ngIf="campoNoValido('perfil')">* Ingrese el Perfil es obligatorio</small>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Precio x Unid. <small style="color: red">*</small></label>
                        <input
                          class="cli-input"
                          formControlName="precio_unidad"
                          type="number"/>
                          <small class="form-text text-alert" *ngIf="campoNoValido('precio_unidad')">* Ingrese el Precio es obligatorio</small>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Cantidad <small style="color: red">*</small></label>
                        <input
                          class="cli-input"
                          formControlName="cantidad"
                          type="number"/>
                          <small class="form-text text-alert" *ngIf="campoNoValido('cantidad')">* Ingrese la cantidad es obligatorio</small>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Venta total <small style="color: red">*</small></label>
                        <input
                          class="cli-input"
                          formControlName="venta_total"
                          type="number"/>
                          <small class="form-text text-alert" *ngIf="campoNoValido('venta_total')">* Ingrese la Venta total es obligatorio</small>
                      </div>

                      <div class="cli-form-element col-f-4">
                        <label>Unid. Moneda</label>
                        <select formControlName="moneda" class="cli-input">
                          <option [value]="0" disabled>-Seleccione-</option>
                          <option value='PEN'>PEN</option>
                          <option value='Otros'>Otros</option>
                        </select>
                      </div>

                      <div class="cli-form-element col-f-2"           >
                        <label>Observación</label>
                        <textarea
                          class="cli-input"
                          style="background-image: none; border-color: #bdbdbd; font-size: 14px; font-size: 12px;"
                          rows="1"
                          placeholder="Escriba alguna observación del detalle acta..."
                          formControlName="observacion"
                        ></textarea>
                      </div>

                      <div class="cli-form-element col-f-2"           >
                        <label>Comentario</label>
                        <textarea
                          class="cli-input"
                          style="background-image: none; border-color: #bdbdbd; font-size: 14px; font-size: 12px;"
                          rows="1"
                          placeholder="Escriba algún comentario del detalle acta..."
                          formControlName="comentarioDet"
                        ></textarea>
                      </div>
                  </ng-container>
                </div>
            </div>
          </div>

        <div class="cli-form-buttons" style="margin-top: 4%">
          <button
            class="cli-btn btn-m btn-regresar"
            type="submit"
            (click)="close()">
            <mat-icon class="icon-18">keyboard_return</mat-icon> Regresar
          </button>
          <!-- && (listDetActas.length == 0) -->
          <button
            class="cli-btn btn-m btn-turq"
            [disabled]="actasForm.invalid"
            (click)="crearAgrupacionConActa()">
            <mat-icon class="icon-18">save</mat-icon>Crear
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
