.progress-container {
  width: 90%;
  background-color: #e0e0e0;

}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  transition: width .6s ease;
  cursor: pointer;
  border-radius: 4px;
  height: 13px;
  background-color: #5ff6c7c2;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

